
<div mat-dialog-title>
  <h1>Login Form</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Ex. Thomas" formControlName="Name"/>
    </mat-form-field>


  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Thomas@gmail.com" formControlName="email" />
    </mat-form-field>



  </div>

  <div class="row">


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
  </div>
  </div>
</div>
<div mat-dialog-actions class="action">
  <button mat-raised-button type="reset">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Login</button>
</div>
</form>
